/*Base*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: #0C0C0E;
  background: #BB945F;
}

h1,
h2 {
  font-family: Forum, Verdana, sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
}

p {
  font-family: Inter, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0C0C0E;
}


a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  width: 1440px;
}

.main {
  background-color: #ffffff;
}

/*Buttons*/
.button {
  display: block;
  padding: 8px 26px;
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  border: 1px #0C0C0E solid;
  border-radius: 2px;
  background-color: #ffffff;
  transition: all 0.3s;
}

.button:hover {
  cursor: pointer;
  background-color: #BB945F;
  border-color: #BB945F;
}

.button:disabled {
  color: #BB945F;
  border-color: #BB945F;
  cursor: default;
}

.button:disabled:hover {
  color: #BB945F;
  background-color: #ffffff;
}

.button-hidden {
  display: none;
}

/*Header*/
.header {
  background-color: #0C0C0E;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #ffffff;
}

.header__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 42px;
}

.user-button {
  position: relative;
  width: 28px;
  height: 40px;
  background-color: transparent;
  border: none;
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-image: url("../assets/icon_profile.svg");
  background-position: center;
  cursor: pointer;
}

.user-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-image: url("../assets/icon_profile-hover.svg");
  background-position: center;
  opacity: 0;
  transition: 0.5s;
}

.user-button:hover::before {
  opacity: 1;
}

.navbar {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navbar__link {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}

.header a {
  color: #ffffff;
  transition: all 0.5s;
}

.header a:hover {
  color: #BB945F;
  text-shadow: 0px 0px 2px #BB945F;
}

/* main */
.main-section {
  padding: 20px 20px 40px 20px;
  color: #0C0C0E;
  background-color: #ffffff;
}

.main-section__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  font-size: 40px;
  font-style: normal;
  line-height: 1em;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.main-section__title::after {
  content: "";
  width: 50px;
  height: 21px;
  border-bottom: 1px #0C0C0E solid;
}

.main-section__paragraph {
  text-align: center;
  font-size: 20px;
  line-height: 2em;
}

.main-section__paragraph-spaced {
  letter-spacing: 2px;
}

.two-columns-layout {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.two-columns-layout__item {
  width: 48%;
}

.two-columns-layout__item:nth-child(even) {
  align-items: end;
  text-align: right;
}

.two-columns-layout__item:nth-child(odd) {
  align-items: start;
}

.three-columns-layout {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.three-columns-layout__item {
  width: 30%;
}

.three-columns-layout__item:nth-child(1) {
  text-align: left;
}

.three-columns-layout__item:nth-child(2) {
  text-align: center;
}

.three-columns-layout__item:nth-child(3) {
  text-align: right;
}

/* Welcome section */
.welcome-section__background {
  background-size: cover !important;
  background-position-x: center !important;
  background-repeat: no-repeat !important;
  background: linear-gradient(#0C0C0E 0%, #0C0C0E 0.1%, rgba(18, 18, 21, 0.1) 50%, transparent 100%), url("../images/welcome/Welcome.jpg");
}

.welcome-section__container {
  display: flex;
  padding: 220px 0 160px 0;
}

.welcome-section_title {
  margin-right: auto;
  max-width: 600px;
  padding: 35px 40px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Forum, sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 3px;
  line-height: 3.125rem;
  text-align: center;
  background-color: #0C0C0E;
}
