* {
  box-sizing: inherit;
  font-family: inherit;
}

:root{
  --black: #191627ff;
  --canary: #ffed00ff;
  --white: #f4f5f5ff;
  --gray: #a9a6c9ff;
  --red: #ff2e00ff;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color:var(--white);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: Roboto;
  color:#ffffff;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--white);
  transition: 2s;
}

.header{
  position: relative;
  top:0;
  left:0;
  display:flex;
  flex-direction: column;
  width:100vw;
  z-index: 1;
  background-color: var(--black);
}

.gallery{
  width: 90%;
  margin: 20px auto;
  display: flex;
  gap:10px;
  flex-wrap: wrap;
  transition: 1.5s;
}

.gallery__col{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 24%;
  max-width: 24%;
}


@media (width < 1024px) {
  .gallery__col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 49%;
    max-width: 49%;
  }
}

@media (width < 648px) {
  .gallery__col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 99%;
    max-width: 99%;  
  }
}

.gallery__col img {
  margin-top: 10px;
  vertical-align: middle;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  transition: 0.5s;
}

